img.logoImg {
  width: 90px;
  height: 90px;
}
@media (max-width: 720px) {
  img.logoImg {
    width: 40px;
    height: 40px;
  }
}
ul.c-nav > li.active > a {
  color: #d3242c;
}
div.mw50{
  max-width: 50%;
  position: relative;
  left: 25%;
}
.mb-0{
  margin-bottom: 0 !important;
}