<footer class="c-footer">
  <div class="o-grid">
    <div
      class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l"
    >
      <p class="c-footer__headline">Tags</p>

      <ul class="c-footer-list o-plain-list">
        <li>
          <a
            [routerLink]="['']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li><a routerLink="/blogs" routerLinkActive="active">Blogs</a></li>
        <li>
          <a routerLink="/categories" routerLinkActive="active">Services</a>
        </li>        
        <li><a routerLink="/about" routerLinkActive="active">About Us</a></li>
        <li>
          <a routerLink="/privacy" routerLinkActive="active">Privacy Policy</a>
        </li>
        <li>
          <a routerLink="/termsandconditions" routerLinkActive="active"
            >Terms & Conditions</a
          >
        </li>
      </ul>
    </div>

    <div
      class="o-grid__col o-grid__col--initial-grow o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l"
    >
      <p class="c-footer__headline">Subscribe</p>
      <form data-members-form="subscribe" class="c-subscribe-form">
        <div class="form-group">
          <label for="subscribe-email-footer" class="u-hidden-visually"
            >Your email</label
          >
          <input
            type="email"
            class="c-subscribe-form__input"
            id="subscribe-email-footer"
            placeholder="Your email"
            data-members-email
          />
          <button type="submit" class="c-btn c-subscribe-form__btn">
            Subscribe
          </button>
        </div>

        <div class="u-alert u-alert--success u-mt-16">
          Please check your inbox and click the link to confirm your
          subscription.
        </div>
        <div class="u-alert u-alert--invalid u-mt-16">
          Please enter a valid email address!
        </div>
        <div class="u-alert u-alert--error u-mt-16">
          An error occurred, please try again later.
        </div>
      </form>
    </div>

    <div class="o-grid__col o-grid__col--full">
      <div class="c-footer__bottom">
        <div class="o-grid">
          <div class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m">
            <div class="u-type-xs c-footer__copyright">
              &copy; 2023 VestureDebate &ndash; Published with Buymedeal Team
            </div>
          </div>

          <div class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m">
            <ul class="c-social-icons o-plain-list">
              <li class="c-social-icons__item">
                <a
                  href="https://twitter.com/VestureDebate"
                  target="_blank"
                  rel="noopener"
                >
                  <span
                    class="c-social-icons__icon"
                    data-icon="ei-sc-twitter"
                    data-size="m"
                  ></span>
                  <span class="u-hidden-visually">Twitter</span>
                </a>
              </li>

              <li class="c-social-icons__item">
                <a
                  href="https://www.facebook.com/profile.php?id=100093621486200"
                  target="_blank"
                  rel="noopener"
                >
                  <span
                    class="c-social-icons__icon"
                    data-icon="ei-sc-facebook"
                    data-size="m"
                  ></span>
                  <span class="u-hidden-visually">Facebook</span>
                </a>
              </li>

              <li class="c-social-icons__item">
                <a
                  href="https://www.instagram.com/vesturedebate/"
                  target="_blank"
                  rel="noopener"
                >
                  <span
                    class="c-social-icons__icon"
                    data-icon="ei-sc-instagram"
                    data-size="m"
                  ></span>
                  <span class="u-hidden-visually">Instagram</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
