<footer class="c-footer">
  <div class="o-grid">
    <div
      class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l"
    >
      <p class="c-footer__headline">Tags</p>

      <ul class="c-footer-list o-plain-list">
        <li><a href="/tag/education/">Education</a></li>
        <li><a href="/tag/inspiration/">Inspiration</a></li>
        <li><a href="/tag/lifestyle/">Lifestyle</a></li>
        <li><a href="/tag/nature/">Nature</a></li>
        <li><a href="/tag/travel/">Travel</a></li>
        <li><a href="/tag/work/">Work</a></li>
      </ul>
    </div>

    <div
      class="o-grid__col o-grid__col--initial-grow o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l"
    >
      <p class="c-footer__headline">Subscribe</p>
      <form data-members-form="subscribe" class="c-subscribe-form">
        <div class="form-group">
          <label for="subscribe-email-footer" class="u-hidden-visually"
            >Your email</label
          >
          <input
            type="email"
            class="c-subscribe-form__input"
            id="subscribe-email-footer"
            placeholder="Your email"
            data-members-email
          />
          <button type="submit" class="c-btn c-subscribe-form__btn">
            Subscribe
          </button>
        </div>

        <div class="u-alert u-alert--success u-mt-16">
          Please check your inbox and click the link to confirm your
          subscription.
        </div>
        <div class="u-alert u-alert--invalid u-mt-16">
          Please enter a valid email address!
        </div>
        <div class="u-alert u-alert--error u-mt-16">
          An error occurred, please try again later.
        </div>
      </form>
    </div>

    <div class="o-grid__col o-grid__col--full">
      <div class="c-footer__bottom">
        <div class="o-grid">
          <div class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m">
            <div class="u-type-xs c-footer__copyright">
              &copy; 2023 VestureDebate &ndash; Published with
              <a href="https://www.google.com">Buymedeal Team</a>
            </div>
          </div>

          <div class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m">
            <ul class="c-social-icons o-plain-list">
              <li class="c-social-icons__item">
                <a
                  href="https://twitter.com/aspirethemes"
                  target="_blank"
                  rel="noopener"
                >
                  <span
                    class="c-social-icons__icon"
                    data-icon="ei-sc-twitter"
                    data-size="s"
                  ></span>
                  <span class="u-hidden-visually">Twitter</span>
                </a>
              </li>

              <li class="c-social-icons__item">
                <a
                  href="https://www.facebook.com/aspirethemes"
                  target="_blank"
                  rel="noopener"
                >
                  <fa-icon [icon]="faFacebook"></fa-icon>
                </a>
              </li>

              <li class="c-social-icons__item">
                <a
                  href="https://instagram.com/instagram"
                  target="_blank"
                  rel="noopener"
                >
                  <fa-icon [icon]="faInstagram"></fa-icon>
                </a>
              </li>

              <li class="c-social-icons__item">
                <a
                  href="https://pinterest.com/pinterest"
                  target="_blank"
                  rel="noopener"
                >
                  <fa-icon [icon]="faPinterest"></fa-icon>
                </a>
              </li>

              <li class="c-social-icons__item">
                <a
                  href="https://linkedin.com/linkedin"
                  target="_blank"
                  rel="noopener"
                >
                <fa-icon [icon]="faLinkedIn"></fa-icon>
                  <!-- <span
                    class="c-social-icons__icon"
                    data-icon="ei-sc-linkedin"
                    data-size="s"
                  ></span>
                  <span class="u-hidden-visually">LinkedIn</span> -->
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
