<div class="o-wrapper">
  <div class="o-grid">
    <div class="o-grid__col o-grid__col--full">
      <div class="c-archive">
        <h1 class="c-archive__title">Blogs</h1>
      </div>
    </div>
  </div>

  <div class="o-grid js-grid">
    <div
      class="js-grid__col o-grid__col--initial-grow o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-2-l js-post-card-wrap c-post-card-wrap cursor-pointer"
      [routerLink]="['/blog', 'blogname']"
    >
      <div class="c-post-card c-post-card--with-image">
        <div class="c-post-card__media">
          <img
            alt="A Rich Life with Less Stuff | the Minimalists"
            class="c-post-card__image"
            style="position: relative"
            src="https://melaka.aspirethemes.com/content/images/2018/09/sarandy-westfall-739699-unsplash-1.jpg"
          />
        </div>

        <div class="c-post-card__content">
          <h2 class="c-post-card__title">
            <a
              href="/a-documentary-about-the-important-things/"
              class="c-post-card__title-link"
            >
              A Documentary About the Important Things
            </a>
          </h2>
          <div class="c-post-card__meta">
            <div class="c-post-card__author">
              <a href="/author/top/">William James</a>
            </div>
            <time
              class="c-post-card__date"
              datetime="2018-11-29"
              title="29 November 2018"
              >29.Nov.2018</time
            >
          </div>
          <p class="blogsText">
            Ghost comes with a beautiful default theme called Casper, which is
             designed to be a clean, readable publication layout and can be
            adapted  for most purposes. However, Ghost can also be completely
            themed to suit  your needs.
          </p>
        </div>
      </div>
    </div>
    <div
      class="js-grid__col o-grid__col--initial-grow o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-2-l js-post-card-wrap c-post-card-wrap cursor-pointer"
      [routerLink]="['/blog', 'blogname']"
    >
      <div class="c-post-card c-post-card--with-image">
        <div class="c-post-card__media">
          <img
            alt="A Rich Life with Less Stuff | the Minimalists"
            class="c-post-card__image"
            style="position: relative"
            src="https://melaka.aspirethemes.com/content/images/2018/09/sarandy-westfall-739699-unsplash-1.jpg"
          />
        </div>

        <div class="c-post-card__content">
          <h2 class="c-post-card__title">
            <a
              href="/a-documentary-about-the-important-things/"
              class="c-post-card__title-link"
            >
              A Documentary About the Important Things
            </a>
          </h2>
          <div class="c-post-card__meta">
            <div class="c-post-card__author">
              <a href="/author/top/">William James</a>
            </div>
            <time
              class="c-post-card__date"
              datetime="2018-11-29"
              title="29 November 2018"
              >29.Nov.2018</time
            >
          </div>
          <p class="blogsText">
            Ghost comes with a beautiful default theme called Casper, which is
             designed to be a clean, readable publication layout and can be
            adapted  for most purposes. However, Ghost can also be completely
            themed to suit  your needs.
          </p>
        </div>
      </div>
    </div>
    <div
      class="js-grid__col o-grid__col--initial-grow o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-2-l js-post-card-wrap c-post-card-wrap cursor-pointer"
      [routerLink]="['/blog', 'blogname']"
    >
      <div class="c-post-card c-post-card--with-image">
        <div class="c-post-card__media">
          <img
            alt="A Rich Life with Less Stuff | the Minimalists"
            class="c-post-card__image"
            style="position: relative"
            src="https://melaka.aspirethemes.com/content/images/2018/09/sarandy-westfall-739699-unsplash-1.jpg"
          />
        </div>

        <div class="c-post-card__content">
          <h2 class="c-post-card__title">
            <a
              href="/a-documentary-about-the-important-things/"
              class="c-post-card__title-link"
            >
              A Documentary About the Important Things
            </a>
          </h2>
          <div class="c-post-card__meta">
            <div class="c-post-card__author">
              <a href="/author/top/">William James</a>
            </div>
            <time
              class="c-post-card__date"
              datetime="2018-11-29"
              title="29 November 2018"
              >29.Nov.2018</time
            >
          </div>
          <p class="blogsText">
            Ghost comes with a beautiful default theme called Casper, which is
             designed to be a clean, readable publication layout and can be
            adapted  for most purposes. However, Ghost can also be completely
            themed to suit  your needs.
          </p>
        </div>
      </div>
    </div>
    <div
      class="js-grid__col o-grid__col--initial-grow o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-2-l js-post-card-wrap c-post-card-wrap cursor-pointer"
      [routerLink]="['/blog', 'blogname']"
    >
      <div class="c-post-card c-post-card--with-image">
        <div class="c-post-card__media">
          <img
            alt="A Rich Life with Less Stuff | the Minimalists"
            class="c-post-card__image"
            style="position: relative"
            src="https://melaka.aspirethemes.com/content/images/2018/09/sarandy-westfall-739699-unsplash-1.jpg"
          />
        </div>

        <div class="c-post-card__content">
          <h2 class="c-post-card__title">
            <a
              href="/a-documentary-about-the-important-things/"
              class="c-post-card__title-link"
            >
              A Documentary About the Important Things
            </a>
          </h2>
          <div class="c-post-card__meta">
            <div class="c-post-card__author">
              <a href="/author/top/">William James</a>
            </div>
            <time
              class="c-post-card__date"
              datetime="2018-11-29"
              title="29 November 2018"
              >29.Nov.2018</time
            >
          </div>
          <p class="blogsText">
            Ghost comes with a beautiful default theme called Casper, which is
             designed to be a clean, readable publication layout and can be
            adapted  for most purposes. However, Ghost can also be completely
            themed to suit  your needs.
          </p>
        </div>
      </div>
    </div>
    <div
      class="js-grid__col o-grid__col--initial-grow o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-2-l js-post-card-wrap c-post-card-wrap cursor-pointer"
      [routerLink]="['/blog', 'blogname']"
    >
      <div class="c-post-card c-post-card--with-image">
        <div class="c-post-card__media">
          <img
            alt="A Rich Life with Less Stuff | the Minimalists"
            class="c-post-card__image"
            style="position: relative"
            src="https://melaka.aspirethemes.com/content/images/2018/09/sarandy-westfall-739699-unsplash-1.jpg"
          />
        </div>

        <div class="c-post-card__content">
          <h2 class="c-post-card__title">
            <a
              href="/a-documentary-about-the-important-things/"
              class="c-post-card__title-link"
            >
              A Documentary About the Important Things
            </a>
          </h2>
          <div class="c-post-card__meta">
            <div class="c-post-card__author">
              <a href="/author/top/">William James</a>
            </div>
            <time
              class="c-post-card__date"
              datetime="2018-11-29"
              title="29 November 2018"
              >29.Nov.2018</time
            >
          </div>
          <p class="blogsText">
            Ghost comes with a beautiful default theme called Casper, which is
             designed to be a clean, readable publication layout and can be
            adapted  for most purposes. However, Ghost can also be completely
            themed to suit  your needs.
          </p>
        </div>
      </div>
    </div>
    <div
      class="js-grid__col o-grid__col--initial-grow o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-2-l js-post-card-wrap c-post-card-wrap cursor-pointer"
      [routerLink]="['/blog', 'blogname']"
    >
      <div class="c-post-card c-post-card--with-image">
        <div class="c-post-card__media">
          <img
            alt="A Rich Life with Less Stuff | the Minimalists"
            class="c-post-card__image"
            style="position: relative"
            src="https://melaka.aspirethemes.com/content/images/2018/09/sarandy-westfall-739699-unsplash-1.jpg"
          />
        </div>

        <div class="c-post-card__content">
          <h2 class="c-post-card__title">
            <a
              href="/a-documentary-about-the-important-things/"
              class="c-post-card__title-link"
            >
              A Documentary About the Important Things
            </a>
          </h2>
          <div class="c-post-card__meta">
            <div class="c-post-card__author">
              <a href="/author/top/">William James</a>
            </div>
            <time
              class="c-post-card__date"
              datetime="2018-11-29"
              title="29 November 2018"
              >29.Nov.2018</time
            >
          </div>
          <p class="blogsText">
            Ghost comes with a beautiful default theme called Casper, which is
             designed to be a clean, readable publication layout and can be
            adapted  for most purposes. However, Ghost can also be completely
            themed to suit  your needs.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
