<div class="o-wrapper">
  <div class="o-grid">
    <div class="o-grid__col o-grid__col--full">
      <div class="c-archive">
        <h1 class="c-archive__title">Blogs</h1>
      </div>
    </div>
  </div>

  <div class="o-grid js-grid">
    <div
      class="js-grid__col o-grid__col--initial-grow o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-2-l js-post-card-wrap c-post-card-wrap cursor-pointer"
      *ngFor="let blog of blogsArr | keyvalue"
      [routerLink]="['/blog/', blog.value.blogURL]"
    >
      <div class="c-post-card c-post-card--with-image">
        <div class="c-post-card__media">
          <img
            alt="A Rich Life with Less Stuff | the Minimalists"
            class="c-post-card__image"
            style="position: relative"
            [src]="blog.value.img"
          />
        </div>

        <div class="c-post-card__content">
          <h2 class="c-post-card__title">
            <a class="c-post-card__title-link">
             {{ blog.value.title}}
            </a>
          </h2>
          <div class="c-post-card__meta">
            <div class="c-post-card__author">
              <a>{{ blog.value.author }}</a>
            </div>
            <time
              class="c-post-card__date"
              datetime="2018-11-29"
              title="29 November 2018"
              >{{ blog.value.CreatedAt | date }}</time
            >
          </div>
          <p hidden [innerHTML]="blog.value.shortDes" #whatsNew2></p>
          <p class="blogsText">
            {{ getInnerText(whatsNew2) | slice : 0 : 500 }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
