<div class="o-wrapper">
  <div class="o-grid">
    <div class="o-grid__col o-grid__col--full">
      <div class="c-archive">
        <h1 class="c-archive__title">
          Wild Women Tea Club <br />Voucher & Discount codes<br />Apr 2023
        </h1>
      </div>
    </div>
  </div>
  <br />
  <div class="o-grid">
    <div
      class="c-teaser-wrapper o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--2-3-l"
    >
      <div class="o-grid">
        <div class="o-grid__col">
          <a class="c-teaser">
            <div class="c-teaser__content">
                <br>
              <h3 class="c-teaser__title couponTitle">
                It would be totally painless unconscious
              </h3>
              <br><br>
              <button class="c-btn c-subscribe-form__btn couponBtn">
                Get Deal
              </button>
            </div>
            <div class="c-teaser__media">
              <img
                class="c-teaser__image"
                title="It would be totally painless unconscious"
                src="../../assets/images/photo-1567103477235-e34a3d5da8a2-1.jpeg"
                width="100"
                height="95"
              />
            </div>
          </a>
          <a class="c-teaser">
            <div class="c-teaser__content">
              <h3 class="c-teaser__title couponTitle">
                We have to put a barrier between us and the world!
              </h3>
              <br><br>
              <button class="c-btn c-subscribe-form__btn couponBtn">
                Get Deal
              </button>
            </div>
            <div class="c-teaser__media">
              <img
                class="c-teaser__image"
                title="We have to put a barrier between us and the world!"
                src="../../assets/images/photo-1524136964799-6ba980a735f7-3.jpg"
                width="100"
                height="95"
              />
            </div>
          </a>
          <a class="c-teaser">
            <div class="c-teaser__content">
              <h3 class="c-teaser__title couponTitle">
                If you have an opportunity to use your voice!
              </h3>
              <br><br>
              <button class="c-btn c-subscribe-form__btn couponBtn">
                Get Deal
              </button>
            </div>
            <div class="c-teaser__media">
              <img
                class="c-teaser__image"
                title="If you have an opportunity to use your voice!"
                src="https://images.unsplash.com/photo-1526914383140-112d83e90d80?ixlib&#x3D;rb-1.2.1&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ&amp;w&#x3D;176"
                width="100"
                height="95"
              />
            </div>
          </a>
          <a class="c-teaser">
            <div class="c-teaser__content">
              <h3 class="c-teaser__title couponTitle">
                And that&#x27;s the double-truth, Ruth
              </h3>
              <br><br>
              <button class="c-btn c-subscribe-form__btn couponBtn">
                Get Deal
              </button>
            </div>
            <div class="c-teaser__media">
              <img
                class="c-teaser__image"
                title="And that&#x27;s the double-truth, Ruth"
                src="../../assets/images/photo-1567016557389-5246a1940bdc.jpeg"
                width="100"
                height="95"
              />
            </div>
          </a>
        </div>
      </div>
    </div>

    <div
      class="c-teaser-wrapper o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l"
    >
      <div class="o-grid">
        <div class="o-grid__col">
          <a href="/a-documentary-about-the-important-things/" class="c-teaser">
            <div class="c-teaser__content">
              <h3 class="c-teaser__title couponTitle">
                A Documentary About the Important Things
              </h3>
              <time
                class="c-teaser__date"
                datetime="2018-11-29"
                title="29 November 2018"
                >29.Nov.2018</time
              >
            </div>
            <div class="c-teaser__media">
              <img
                class="c-teaser__image"
                title="A Documentary About the Important Things"
                src="../../assets/images/woodwatch--Hr_uHRfImo-unsplash-1.jpg"
                width="100"
                height="95"
              />
            </div>
          </a>
          <a
            href="/everybody-listen-we-have-to-put-a-barrier-between-us-and-the-world/"
            class="c-teaser"
          >
            <div class="c-teaser__content">
              <h3 class="c-teaser__title couponTitle">
                We have to put a barrier between us and the world!
              </h3>
              <time
                class="c-teaser__date"
                datetime="2017-03-27"
                title="27 March 2017"
                >27.Mar.2017</time
              >
            </div>
            <div class="c-teaser__media">
              <img
                class="c-teaser__image"
                title="We have to put a barrier between us and the world!"
                src="../../assets/images/photo-1518214598173-1666bc921d66.jpg"
                width="100"
                height="95"
              />
            </div>
          </a>
          <a
            href="/it-would-be-totally-painless-theyd-just-slip-into-unconsciousness/"
            class="c-teaser"
          >
            <div class="c-teaser__content">
              <h3 class="c-teaser__title couponTitle">
                It Would Be Totally Painless - They&#x27;d Just Slip
              </h3>
              <time
                class="c-teaser__date"
                datetime="2017-03-27"
                title="27 March 2017"
                >27.Mar.2017</time
              >
            </div>
            <div class="c-teaser__media">
              <img
                class="c-teaser__image"
                title="It Would Be Totally Painless - They&#x27;d Just Slip"
                src="../../assets/images/8.jpg"
                width="100"
                height="95"
              />
            </div>
          </a>
          <a
            href="/eddie-kim-somehow-managed-to-fill-the-plane-with-poisonous-snakes/"
            class="c-teaser"
          >
            <div class="c-teaser__content">
              <h3 class="c-teaser__title couponTitle">
                Eddie Kim somehow managed to fill the snakes.
              </h3>
              <time
                class="c-teaser__date"
                datetime="2015-12-21"
                title="21 December 2015"
                >21.Dec.2015</time
              >
            </div>
            <div class="c-teaser__media">
              <img
                class="c-teaser__image"
                title="Eddie Kim somehow managed to fill the snakes."
                src="../../assets/images/6.jpg"
                width="100"
                height="95"
              />
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
