<div class="o-wrapper">
  <div class="o-grid">
    <div class="o-grid__col o-grid__col--full">
      <br />
      <div class="c-archive">
        <h1 class="c-archive__title">
         <span *ngIf="selectedCat">{{selectedCat}} <i>Stores</i></span>
        </h1>
      </div>
    </div>
  </div>
  <br />
  <div class="o-grid">
    <div
      class="c-teaser-wrapper o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l"
    >
      <div class="o-grid">
        <div class="o-grid__col">
          <form>
            <!-- <input type="text" name="name" placeholder="Name" /> -->
            <br />
            <select
              name="categories"
              id="categorySelect"
              [(ngModel)]="selectCat"
              (change)="secondaryFunc(selectCat)"
            >
              <option value="" disabled selected>Select Category</option>
              <option
                [value]="cat.value.categoryURL"
                *ngFor="let cat of categoryArr | keyvalue"
              >
                {{ cat.value.name }}
              </option>
            </select>
            <!-- <input
              class="c-btn c-btn--small c-btn--active"
              type="submit"
              value="Send"
            /> -->
          </form>
        </div>
      </div>
    </div>
    <div
      class="c-teaser-wrapper o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--2-3-l"
      *ngIf="!isLoading"
    >
      <div class="o-grid">
        <div
          class="c-teaser-wrapper o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l"
          *ngIf="noStoreFound"
        >
          <p class="noStoreInCategpry">No store in this Category</p>
        </div>

        <div
          class="c-teaser-wrapper o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l"
          *ngFor="let store of storeArr | keyvalue"
          [routerLink]="['/stores', store.value.storeURL]"
        >
          <div
            class="c-card-author__media"
            style="
              margin: 15px auto;
              width: 115px !important;
              height: 115px !important;
            "
          >
            <img
              class="c-card-author__image"
              style="
                margin: 15px auto;
                width: 115px !important;
                height: 115px !important;
              "
              [src]="store.value.img"
              alt="Store Image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
