<div class="o-wrapper">
    <div class="o-grid">
        <div class="o-grid__col o-grid__col--full">
            <div class="c-archive">
                <h1 class="c-archive__title">Categories</h1>
            </div>
        </div>
    </div>

    <div class="o-grid">
        <div class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l o-grid__col--initial-grow">
            <a href="/tag/travel/" class="c-tag-card">
                <img class="c-tag-card__image"
                    src="https://images.unsplash.com/photo-1531219432768-9f540ce91ef3?ixlib&#x3D;rb-0.3.5&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ&amp;s&#x3D;69d478faabf41844e1d443cf6839e600&amp;w&#x3D;472"
                    alt="" width="236" height="177" />
                <h2 class="c-tag-card__title">
                    Travel <span class="u-type-xs">(4)</span>
                </h2>
            </a>
        </div>
        <div class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l o-grid__col--initial-grow">
            <a href="/tag/lifestyle/" class="c-tag-card">
                <img class="c-tag-card__image"
                    src="https://images.unsplash.com/photo-1533525801715-1f3764669187?ixlib&#x3D;rb-0.3.5&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ&amp;s&#x3D;22055d77fb0758d7c065bdd2a44c30b2&amp;w&#x3D;472"
                    alt="" width="236" height="177" />
                <h2 class="c-tag-card__title">
                    Lifestyle <span class="u-type-xs">(4)</span>
                </h2>
            </a>
        </div>
        <div class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l o-grid__col--initial-grow">
            <a href="/tag/education/" class="c-tag-card">
                <img class="c-tag-card__image"
                    src="https://images.unsplash.com/photo-1501504905252-473c47e087f8?ixlib&#x3D;rb-0.3.5&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ&amp;s&#x3D;442d2b4cc69ced2c186ae8a81a14325f&amp;w&#x3D;472"
                    alt="" width="236" height="177" />
                <h2 class="c-tag-card__title">
                    Education <span class="u-type-xs">(4)</span>
                </h2>
            </a>
        </div>
        <div class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l o-grid__col--initial-grow">
            <a href="/tag/work/" class="c-tag-card">
                <img class="c-tag-card__image"
                    src="https://images.unsplash.com/photo-1520588831435-1529e6d7cf5e?ixlib&#x3D;rb-0.3.5&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ&amp;s&#x3D;4c62e904a1ace4cc3fc4f26a02e14527&amp;w&#x3D;472"
                    alt="" width="236" height="177" />
                <h2 class="c-tag-card__title">
                    Work <span class="u-type-xs">(4)</span>
                </h2>
            </a>
        </div>
        <div class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l o-grid__col--initial-grow">
            <a href="/tag/nature/" class="c-tag-card">
                <img class="c-tag-card__image"
                    src="https://images.unsplash.com/photo-1496661274775-a86a124b9df3?ixlib&#x3D;rb-0.3.5&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ&amp;s&#x3D;ed1f047de495e6fcbdeb8d266a44446e&amp;w&#x3D;472"
                    alt="" width="236" height="177" />
                <h2 class="c-tag-card__title">
                    Nature <span class="u-type-xs">(3)</span>
                </h2>
            </a>
        </div>
        <div class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l o-grid__col--initial-grow">
            <a href="/tag/inspiration/" class="c-tag-card">
                <img class="c-tag-card__image"
                    src="https://images.unsplash.com/photo-1518204919429-b447980c73bc?ixlib&#x3D;rb-0.3.5&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ&amp;s&#x3D;3a4acbe78cb9d98f5953c0b9c157addc&amp;w&#x3D;472"
                    alt="" width="236" height="177" />
                <h2 class="c-tag-card__title">
                    Inspiration <span class="u-type-xs">(3)</span>
                </h2>
            </a>
        </div>
        <div class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l o-grid__col--initial-grow">
            <a href="/tag/travel/" class="c-tag-card">
                <img class="c-tag-card__image"
                    src="https://images.unsplash.com/photo-1531219432768-9f540ce91ef3?ixlib&#x3D;rb-0.3.5&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ&amp;s&#x3D;69d478faabf41844e1d443cf6839e600&amp;w&#x3D;472"
                    alt="" width="236" height="177" />
                <h2 class="c-tag-card__title">
                    Travel <span class="u-type-xs">(4)</span>
                </h2>
            </a>
        </div>
        <div class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l o-grid__col--initial-grow">
            <a href="/tag/lifestyle/" class="c-tag-card">
                <img class="c-tag-card__image"
                    src="https://images.unsplash.com/photo-1533525801715-1f3764669187?ixlib&#x3D;rb-0.3.5&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ&amp;s&#x3D;22055d77fb0758d7c065bdd2a44c30b2&amp;w&#x3D;472"
                    alt="" width="236" height="177" />
                <h2 class="c-tag-card__title">
                    Lifestyle <span class="u-type-xs">(4)</span>
                </h2>
            </a>
        </div>
        <div class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l o-grid__col--initial-grow">
            <a href="/tag/travel/" class="c-tag-card">
                <img class="c-tag-card__image"
                    src="https://images.unsplash.com/photo-1531219432768-9f540ce91ef3?ixlib&#x3D;rb-0.3.5&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ&amp;s&#x3D;69d478faabf41844e1d443cf6839e600&amp;w&#x3D;472"
                    alt="" width="236" height="177" />
                <h2 class="c-tag-card__title">
                    Travel <span class="u-type-xs">(4)</span>
                </h2>
            </a>
        </div>
        <div class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l o-grid__col--initial-grow">
            <a href="/tag/lifestyle/" class="c-tag-card">
                <img class="c-tag-card__image"
                    src="https://images.unsplash.com/photo-1533525801715-1f3764669187?ixlib&#x3D;rb-0.3.5&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ&amp;s&#x3D;22055d77fb0758d7c065bdd2a44c30b2&amp;w&#x3D;472"
                    alt="" width="236" height="177" />
                <h2 class="c-tag-card__title">
                    Lifestyle <span class="u-type-xs">(4)</span>
                </h2>
            </a>
        </div>
        <div class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l o-grid__col--initial-grow">
            <a href="/tag/education/" class="c-tag-card">
                <img class="c-tag-card__image"
                    src="https://images.unsplash.com/photo-1501504905252-473c47e087f8?ixlib&#x3D;rb-0.3.5&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ&amp;s&#x3D;442d2b4cc69ced2c186ae8a81a14325f&amp;w&#x3D;472"
                    alt="" width="236" height="177" />
                <h2 class="c-tag-card__title">
                    Education <span class="u-type-xs">(4)</span>
                </h2>
            </a>
        </div>
        <div class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l o-grid__col--initial-grow">
            <a href="/tag/work/" class="c-tag-card">
                <img class="c-tag-card__image"
                    src="https://images.unsplash.com/photo-1520588831435-1529e6d7cf5e?ixlib&#x3D;rb-0.3.5&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ&amp;s&#x3D;4c62e904a1ace4cc3fc4f26a02e14527&amp;w&#x3D;472"
                    alt="" width="236" height="177" />
                <h2 class="c-tag-card__title">
                    Work <span class="u-type-xs">(4)</span>
                </h2>
            </a>
        </div>
        <div class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l o-grid__col--initial-grow">
            <a href="/tag/nature/" class="c-tag-card">
                <img class="c-tag-card__image"
                    src="https://images.unsplash.com/photo-1496661274775-a86a124b9df3?ixlib&#x3D;rb-0.3.5&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ&amp;s&#x3D;ed1f047de495e6fcbdeb8d266a44446e&amp;w&#x3D;472"
                    alt="" width="236" height="177" />
                <h2 class="c-tag-card__title">
                    Nature <span class="u-type-xs">(3)</span>
                </h2>
            </a>
        </div>
        <div class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l o-grid__col--initial-grow">
            <a href="/tag/inspiration/" class="c-tag-card">
                <img class="c-tag-card__image"
                    src="https://images.unsplash.com/photo-1518204919429-b447980c73bc?ixlib&#x3D;rb-0.3.5&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ&amp;s&#x3D;3a4acbe78cb9d98f5953c0b9c157addc&amp;w&#x3D;472"
                    alt="" width="236" height="177" />
                <h2 class="c-tag-card__title">
                    Inspiration <span class="u-type-xs">(3)</span>
                </h2>
            </a>
        </div>
        <div class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l o-grid__col--initial-grow">
            <a href="/tag/travel/" class="c-tag-card">
                <img class="c-tag-card__image"
                    src="https://images.unsplash.com/photo-1531219432768-9f540ce91ef3?ixlib&#x3D;rb-0.3.5&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ&amp;s&#x3D;69d478faabf41844e1d443cf6839e600&amp;w&#x3D;472"
                    alt="" width="236" height="177" />
                <h2 class="c-tag-card__title">
                    Travel <span class="u-type-xs">(4)</span>
                </h2>
            </a>
        </div>
        <div class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l o-grid__col--initial-grow">
            <a href="/tag/lifestyle/" class="c-tag-card">
                <img class="c-tag-card__image"
                    src="https://images.unsplash.com/photo-1533525801715-1f3764669187?ixlib&#x3D;rb-0.3.5&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ&amp;s&#x3D;22055d77fb0758d7c065bdd2a44c30b2&amp;w&#x3D;472"
                    alt="" width="236" height="177" />
                <h2 class="c-tag-card__title">
                    Lifestyle <span class="u-type-xs">(4)</span>
                </h2>
            </a>
        </div>
    </div>
</div>