<div class="o-wrapper">
    <div class="o-grid">
        <div class="o-grid__col o-grid__col--full">
            <div class="c-archive">
                <h1 class="c-archive__title">Stores</h1>
            </div>
        </div>
    </div>

    <div class="o-grid">
        <div
            class="o-grid__col o-grid__col--initial-grow o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l c-card-author-wrap">
            <a class="c-card-author">
                <div class="c-card-author__media">
                    <img class="c-card-author__image"
                        src="../../assets/images/guillaume-bleyer-Dep2HTKqGj0-unsplash-3.jpg" alt="Amelia Harry"
                        width="64" height="64" />
                </div>

                <div class="c-card-author__content">
                    <h3 class="c-card-author__name">Amelia Harry</h3>
                    <p class="c-card-author__bio">
                        Author &amp; developer of Aspire Themes. Minimalist.
                    </p>
                </div>
            </a>
        </div>
        <div
            class="o-grid__col o-grid__col--initial-grow o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l c-card-author-wrap">
            <a class="c-card-author">
                <div class="c-card-author__media">
                    <img class="c-card-author__image"
                        src="../../assets/images/guillaume-bleyer-Dep2HTKqGj0-unsplash-4.jpg" alt="Emily James"
                        width="64" height="64" />
                </div>

                <div class="c-card-author__content">
                    <h3 class="c-card-author__name">Emily James</h3>
                    <p class="c-card-author__bio">
                        Author &amp; developer of Aspire Themes. Minimalist.
                    </p>
                </div>
            </a>
        </div>
        <div
            class="o-grid__col o-grid__col--initial-grow o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l c-card-author-wrap">
            <a class="c-card-author">
                <div class="c-card-author__media">
                    <img class="c-card-author__image"
                        src="../../assets/images/guillaume-bleyer-Dep2HTKqGj0-unsplash-2.jpg" alt="Olivia Thomas"
                        width="64" height="64" />
                </div>

                <div class="c-card-author__content">
                    <h3 class="c-card-author__name">Olivia Thomas</h3>
                    <p class="c-card-author__bio">
                        I love creating clean and minimal websites.
                    </p>
                </div>
            </a>
        </div>
        <div
            class="o-grid__col o-grid__col--initial-grow o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l c-card-author-wrap">
            <a class="c-card-author">
                <div class="c-card-author__media">
                    <img class="c-card-author__image"
                        src="../../assets/images/guillaume-bleyer-Dep2HTKqGj0-unsplash-1.jpg" alt="Sara James"
                        width="64" height="64" />
                </div>

                <div class="c-card-author__content">
                    <h3 class="c-card-author__name">Sara James</h3>
                    <p class="c-card-author__bio">
                        Author &amp; developer of Aspire Themes. Minimalist.
                    </p>
                </div>
            </a>
        </div>
        <div
            class="o-grid__col o-grid__col--initial-grow o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l c-card-author-wrap">
            <a class="c-card-author">
                <div class="c-card-author__media">
                    <img class="c-card-author__image"
                        src="../../assets/images/guillaume-bleyer-Dep2HTKqGj0-unsplash-2.jpg" alt="William James"
                        width="64" height="64" />
                </div>

                <div class="c-card-author__content">
                    <h3 class="c-card-author__name">William James</h3>
                    <p class="c-card-author__bio">
                        Lorem ipsum dolor sit amet, sit magna iracundia consectetuer.
                    </p>
                </div>
            </a>
        </div>
        <div
            class="o-grid__col o-grid__col--initial-grow o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l c-card-author-wrap">
            <a class="c-card-author">
                <div class="c-card-author__media">
                    <img class="c-card-author__image"
                        src="../../assets/images/guillaume-bleyer-Dep2HTKqGj0-unsplash-2.jpg" alt="William James"
                        width="64" height="64" />
                </div>

                <div class="c-card-author__content">
                    <h3 class="c-card-author__name">William James</h3>
                    <p class="c-card-author__bio">
                        Lorem ipsum dolor sit amet, sit magna iracundia consectetuer.
                    </p>
                </div>
            </a>
        </div>
        <div
            class="o-grid__col o-grid__col--initial-grow o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l c-card-author-wrap">
            <a class="c-card-author">
                <div class="c-card-author__media">
                    <img class="c-card-author__image"
                        src="../../assets/images/guillaume-bleyer-Dep2HTKqGj0-unsplash-3.jpg" alt="Amelia Harry"
                        width="64" height="64" />
                </div>

                <div class="c-card-author__content">
                    <h3 class="c-card-author__name">Amelia Harry</h3>
                    <p class="c-card-author__bio">
                        Author &amp; developer of Aspire Themes. Minimalist.
                    </p>
                </div>
            </a>
        </div>
        <div
            class="o-grid__col o-grid__col--initial-grow o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l c-card-author-wrap">
            <a class="c-card-author">
                <div class="c-card-author__media">
                    <img class="c-card-author__image"
                        src="../../assets/images/guillaume-bleyer-Dep2HTKqGj0-unsplash-4.jpg" alt="Emily James"
                        width="64" height="64" />
                </div>

                <div class="c-card-author__content">
                    <h3 class="c-card-author__name">Emily James</h3>
                    <p class="c-card-author__bio">
                        Author &amp; developer of Aspire Themes. Minimalist.
                    </p>
                </div>
            </a>
        </div>
        <div
            class="o-grid__col o-grid__col--initial-grow o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l c-card-author-wrap">
            <a class="c-card-author">
                <div class="c-card-author__media">
                    <img class="c-card-author__image"
                        src="../../assets/images/guillaume-bleyer-Dep2HTKqGj0-unsplash-2.jpg" alt="Olivia Thomas"
                        width="64" height="64" />
                </div>

                <div class="c-card-author__content">
                    <h3 class="c-card-author__name">Olivia Thomas</h3>
                    <p class="c-card-author__bio">
                        I love creating clean and minimal websites.
                    </p>
                </div>
            </a>
        </div>
        <div
            class="o-grid__col o-grid__col--initial-grow o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l c-card-author-wrap">
            <a class="c-card-author">
                <div class="c-card-author__media">
                    <img class="c-card-author__image"
                        src="../../assets/images/guillaume-bleyer-Dep2HTKqGj0-unsplash-1.jpg" alt="Sara James"
                        width="64" height="64" />
                </div>

                <div class="c-card-author__content">
                    <h3 class="c-card-author__name">Sara James</h3>
                    <p class="c-card-author__bio">
                        Author &amp; developer of Aspire Themes. Minimalist.
                    </p>
                </div>
            </a>
        </div>
        <div
            class="o-grid__col o-grid__col--initial-grow o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l c-card-author-wrap">
            <a class="c-card-author">
                <div class="c-card-author__media">
                    <img class="c-card-author__image"
                        src="../../assets/images/guillaume-bleyer-Dep2HTKqGj0-unsplash-2.jpg" alt="William James"
                        width="64" height="64" />
                </div>

                <div class="c-card-author__content">
                    <h3 class="c-card-author__name">William James</h3>
                    <p class="c-card-author__bio">
                        Lorem ipsum dolor sit amet, sit magna iracundia consectetuer.
                    </p>
                </div>
            </a>
        </div>
        <div
            class="o-grid__col o-grid__col--initial-grow o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l c-card-author-wrap">
            <a class="c-card-author">
                <div class="c-card-author__media">
                    <img class="c-card-author__image"
                        src="../../assets/images/guillaume-bleyer-Dep2HTKqGj0-unsplash-2.jpg" alt="William James"
                        width="64" height="64" />
                </div>

                <div class="c-card-author__content">
                    <h3 class="c-card-author__name">William James</h3>
                    <p class="c-card-author__bio">
                        Lorem ipsum dolor sit amet, sit magna iracundia consectetuer.
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>