<div class="o-wrapper">
  <div class="o-grid">
    <div class="o-grid__col o-grid__col--full">
      <br />
      <div class="c-archive">
        <h1 class="c-archive__title">Browse Stores for exciting deals</h1>
      </div>
    </div>
  </div>
  <br />
  <div class="o-grid">
    <div
      class="o-grid__col o-grid__col--initial-grow o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--4-4-l c-card-author-wrap"
      *ngFor="let store of storeArray | keyvalue"
      [routerLink]="['/stores', store.value.storeURL]"
    >
      <a class="c-card-author">
        <div class="c-card-author__media storesImg">
          <img
            class="c-card-author__image"
            [src]="store.value.img"
            alt="Store Image"
          />
        </div>

        <div class="c-card-author__content">
          <h3 class="c-card-author__name storeNameHead">
            {{ store.value.name }}
          </h3>
          <p
            class="c-card-author__bio storeDesc"
            [innerHTML]="store.value.shortDes"
          ></p>
        </div>
      </a>
    </div>
  </div>
</div>
