<div>
  <div class="o-grid">
    <div class="js-grid__col o-grid__col o-grid__col--4-4-s">
      <div class="c-post-hero">
        <div class="c-post-hero__media">
          <div class="c-post-hero__image-wrap">
            <img
              alt="Elements"
              class="c-post-hero__image"
              src="../../assets/images/photo-1567817117049-ebc8772fbb9d.jpeg"
              width="760"
              height="500"
            />
          </div>
        </div>

        <div class="c-post-hero__content c-post-hero__content--page">
          <h1 class="c-post-hero__title">Terms & Conditions</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="o-grid">
  <div class="o-grid__col o-grid__col--center o-grid__col--4-4-s">
    <div class="c-post">
      <div class="c-content">
        <p>
          These Terms and Conditions are a contract between you and us which is
          subject to change without any notice. If you visit or shop at the
          Site, you must accept these Terms & conditions, kindly read them
          carefully. We welcome to you
          <a href="https://www.vesturedebate.com"
            >http://www.Vesturedebate.com</a
          >
          we superintend the site through some rules that we set attentively for
          the welfare of suppliers and customers. So we provide the Site to you
          subject to the following terms and conditions of use.
        </p>
        <hr />
        <!-- <h1 id="simple-default-styles-for-headings">
          Simple default styles for headings
        </h1>
        <h2 id="simple-default-styles-for-headings-1">
          Simple default styles for headings
        </h2>
        <h3 id="simple-default-styles-for-headings-2">
          Simple default styles for headings
        </h3>
        <h4 id="simple-default-styles-for-headings-3">
          Simple default styles for headings
        </h4> -->
        <ul>
          <li>
            If you want to shop with us, first you need to register with us and
            then make an account, without registration and an account you can’t
            be allowed to shop with us. Provide veritable information vital such
            as your name, actual address, and payment details so we can make the
            whole process of purchasing easy and well-ordered. Now you are
            simply required to sign up and create an account for shopping.
          </li>
          <br />
          <li>
            For facile admirable delivery and services we share your info with
            our sales assistant and riders but pledging to keep your information
            personal. If it seems that your passwords or account or any other
            personal info is using by others or any type of misuse you feel,
            inform us immediately it is against our rule, and we will take
            powerful action because we don’t allow it to offend our rules.
          </li>
          <br />
          <li>
            We will repeatedly ask you to update your password because of
            security reasons. You must upgrade it because we may inactive your
            account without informing you we’ve the right to do this if you do
            not update. You should mandatory to impart your information to us
            whenever we call for it.
          </li>
          <br />
          <li>
            We deliver your all orders within a week (5 To 7 working days).
            Every voucher has let out the certain date of delivery as mentioned
            on each voucher, in case of delay we will message you. The expiry
            date of any coupon or deal is mentioned, once it expired or is
            invalid.
          </li>
          <br />
          <li>
            We have the right to cancel your voucher or deal, in any case of
            ravishing against our laws. If you buy the products whose shipment
            is free it is assuredly and understandably mentioned below. We don't
            give any guarantee if the product is deformed.
          </li>
          <br />
          <li>
            The confirmation of your order has done once you pay it off. We will
            impart the substitute if we make any type of change in our deal
            coupons before the expiry date. We have the right to cancel the
            order at any moment. In case the amount takes from, we will
            compensate you. We don't allow reselling the voucher to any other.
          </li>
          <br />
          <li>
            All the prices are quoted in terms of dolor, we only accept online
            payments. All the remittance is made through debit and credit cards,
            within 5 to 6 days we may debit the amount to your account. Our
            deals are only used personally we are not allowed to use them for
            business purposes.
          </li>
          <br />
          <li>
            We can't take responsibility for the given information of the brands
            or services, whether it's formed inadequate or inappropriate, or
            deficient for you.
          </li>
          <br />
          <li>
            We desire the users of our site to acknowledge our instructions and
            other functional modules for approaching and get benefited from the
            website. We may amend these terms and conditions sporadically, to
            retain you up to date with the fresh products and services.
          </li>
          <br />
          <li>
            Do not forget to survey these terms and conditions periodically
            because we have the right to change, erase or append these terms &
            conditions without any initial intimation. If you want to ask any
            question concerning our terms and conditions you can contact us or
            can email, our helpline service is available 24/7 to assist you.
          </li>
        </ul>
        <hr />
        <!-- <blockquote>
          Graphic design is the paradise of individuality, eccentricity, heresy,
          abnormality, hobbies, and humors. — George Santayana
        </blockquote> -->
      </div>
    </div>
  </div>
</div>
