<div>
  <div class="o-grid">
    <div class="js-grid__col o-grid__col o-grid__col--4-4-s">
      <div class="c-post-hero">
        <div class="c-post-hero__media">
          <div class="c-post-hero__image-wrap">
            <img
              alt="About"
              class="c-post-hero__image"
              src="../../assets/images/photo-1562184552-b1ad96ec9836.jpeg"
              width="760"
              height="500"
            />
          </div>
        </div>

        <div class="c-post-hero__content c-post-hero__content--page">
          <h1 class="c-post-hero__title">Privacy Policy</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="o-grid">
  <div class="o-grid__col o-grid__col--center o-grid__col--4-4-s">
    <div class="c-post">
      <div class="c-content">
        <p>
          This Privacy Policy has drawn for a purpose that clarifies everything
          about your info, how your information assembles, utilize, dispense,
          and processed, when retrieving this website or deploying other
          services allocated by its operator appending any written, electronic,
          voice communication, online or offline and buying collectedly means
          services, furthermore entitlement and options you associated with that
          information.<br /><br />
          Vesturedebate intended to make you its trusty customer that’s why we
          are welcoming all of you to our website Vesturedebate, we allure our
          privacy policy for preserving our costumer’s interest and privacy.<br /><br />
          We have to make it ensure, that your data and information, for
          ordering your item when you sign up and place your order in the cart
          will be safe and secure. We take full responsibility for your secure
          shopping until your parcel delivers and received by you at your
          doorstep.<br /><br />
          Our privacy policy makes certain that you are shopping in a resting
          place, where all your orders are in safe hands so you won't get
          dismayed at Vesturedebate.com.<br /><br />
          We pledge and ensure for unspecified your name and won't spoil your
          image, while we may use your data for the aspiration of market survey,
          layout and use for upgrading the web content and for verification
          purposes as we employ your private information for only approach the
          services and deals and the verification of remittance and
          negotiations.<br /><br />
          You’ve to be responsible for the security of your passwords and
          gadgets from unapproved users, otherwise, we will not be responsible
          for such kind of any given situation.<br /><br />
          As we already disallow any unofficial users to see your personal
          information, but your passwords are your responsibility. We always
          make our trusty customers, as we accumulate your data by assuring the
          server, for further authentication we also imply identity checks
          occasionally.<br /><br />
          In any case, if you feel insecure about your personal information or
          feel any type of intimidation and misuse of your privacy you can
          directly contact our customer representative we are with you and
          support you.<br /><br />
          Vesturedebate with his team, his business assets, and others assured
          you that your data will abide protected and defended.<br /><br />
          Our fully attentive and awakened team is working hard and always gets
          alert to save your personal information, including your name, address,
          phone number, email id, and address.<br /><br />
          As we are taking full responsibility for your parcel, in case you
          encounter any mishap with your order Vesturedebate endorses the
          loss.<br /><br />
          We may change this privacy policy from time to time, so if you have
          any questions regarding anything, feel free to ask us anything with us
          we will answer your call whenever you need.
          <br />
        </p>
      </div>
    </div>
  </div>
</div>
