<div class="o-wrapper" *ngIf="blogNode">
  <div class="o-grid">
    <div class="o-grid__col o-grid__col--full">
      <div class="c-archive mb-0">
        <img [src]="blogNode.img" alt="blogImg" />
      </div>
    </div>
  </div>
  <br />
  <div class="o-grid">
    <div
      class="c-teaser-wrapper o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--4-4-l"
    >
      <div class="o-grid">
        <div class="o-grid__col">
          <h2 class="u-text-center">
            {{ blogNode.title }}
          </h2>
          <br />
          <br />
          <blockquote id="blogQuote">
            <p
              *ngIf="blogNode.longDesFirst"
              [innerHTML]="blogNode.longDesFirst | sanitizeHtml"
            ></p>

            <div class="u-text-center" *ngIf="blogNode.imgGrid1">
              <br />
              <div [innerHTML]="blogNode.longDesMiddle1 | sanitizeHtml"></div>
              <br />
              <img [src]="blogNode.imgGrid1" class="marin0Auto w-50" />
              <br />
              <button
                type="button"
                *ngIf="blogNode.buttonTxt"
                (click)="openLink(blogNode.amazonLink1)"
                class="c-btn c-btn--small marin0Auto"
              >
                {{ blogNode.buttonTxt }}
              </button>
            </div>

            <div class="u-text-center" *ngIf="blogNode.imgGrid2">
              <br />
              <div [innerHTML]="blogNode.longDesMiddle2 | sanitizeHtml"></div>
              <br />
              <img [src]="blogNode.imgGrid2" class="marin0Auto w-50" />
              <br />
              <button
                type="button"
                *ngIf="blogNode.buttonTxt"
                (click)="openLink(blogNode.amazonLink2)"
                class="c-btn c-btn--small marin0Auto"
              >
                {{ blogNode.buttonTxt }}
              </button>
            </div>

            <div class="u-text-center" *ngIf="blogNode.imgGrid3">
              <br />
              <div [innerHTML]="blogNode.longDesMiddle3 | sanitizeHtml"></div>
              <br />
              <img [src]="blogNode.imgGrid3" class="marin0Auto w-50" />
              <br />
              <button
                type="button"
                *ngIf="blogNode.buttonTxt"
                (click)="openLink(blogNode.amazonLink3)"
                class="c-btn c-btn--small marin0Auto"
              >
                {{ blogNode.buttonTxt }}
              </button>
            </div>

            <div class="u-text-center" *ngIf="blogNode.imgGrid4">
              <br />
              <div [innerHTML]="blogNode.longDesMiddle4 | sanitizeHtml"></div>
              <br />
              <img [src]="blogNode.imgGrid4" class="marin0Auto w-50" />
              <br />
              <button
                type="button"
                *ngIf="blogNode.buttonTxt"
                (click)="openLink(blogNode.amazonLink4)"
                class="c-btn c-btn--small marin0Auto"
              >
                {{ blogNode.buttonTxt }}
              </button>
            </div>

            <div class="u-text-center" *ngIf="blogNode.imgGrid5">
              <br />
              <div [innerHTML]="blogNode.longDesMiddle5 | sanitizeHtml"></div>
              <br />
              <img [src]="blogNode.imgGrid5" class="marin0Auto w-50" />
              <br />
              <button
                type="button"
                *ngIf="blogNode.buttonTxt"
                (click)="openLink(blogNode.amazonLink5)"
                class="c-btn c-btn--small marin0Auto"
              >
                {{ blogNode.buttonTxt }}
              </button>
            </div>

            <div class="u-text-center" *ngIf="blogNode.imgGrid6">
              <br />
              <div [innerHTML]="blogNode.longDesMiddle6 | sanitizeHtml"></div>
              <br />
              <img [src]="blogNode.imgGrid6" class="marin0Auto w-50" />
              <br />
              <button
                type="button"
                *ngIf="blogNode.buttonTxt"
                (click)="openLink(blogNode.amazonLink6)"
                class="c-btn c-btn--small marin0Auto"
              >
                {{ blogNode.buttonTxt }}
              </button>
            </div>

            <div class="u-text-center" *ngIf="blogNode.imgGrid7">
              <br />
              <div [innerHTML]="blogNode.longDesMiddle7 | sanitizeHtml"></div>
              <br />
              <img [src]="blogNode.imgGrid7" class="marin0Auto w-50" />
              <br />
              <button
                type="button"
                *ngIf="blogNode.buttonTxt"
                (click)="openLink(blogNode.amazonLink7)"
                class="c-btn c-btn--small marin0Auto"
              >
                {{ blogNode.buttonTxt }}
              </button>
            </div>

            <div class="u-text-center" *ngIf="blogNode.imgGrid8">
              <br />
              <div [innerHTML]="blogNode.longDesMiddle8 | sanitizeHtml"></div>
              <br />
              <img [src]="blogNode.imgGrid8" class="marin0Auto w-50" />
              <br />
              <button
                type="button"
                *ngIf="blogNode.buttonTxt"
                (click)="openLink(blogNode.amazonLink8)"
                class="c-btn c-btn--small marin0Auto"
              >
                {{ blogNode.buttonTxt }}
              </button>
            </div>

            <div class="u-text-center" *ngIf="blogNode.imgGrid9">
              <br />
              <div [innerHTML]="blogNode.longDesMiddle9 | sanitizeHtml"></div>
              <br />
              <img [src]="blogNode.imgGrid9" class="marin0Auto w-50" />
              <br />
              <button
                type="button"
                *ngIf="blogNode.buttonTxt"
                (click)="openLink(blogNode.amazonLink9)"
                class="c-btn c-btn--small marin0Auto"
              >
                {{ blogNode.buttonTxt }}
              </button>
            </div>

            <div class="u-text-center" *ngIf="blogNode.imgGrid10">
              <br />
              <div [innerHTML]="blogNode.longDesMiddle10 | sanitizeHtml"></div>
              <br />
              <img [src]="blogNode.imgGrid10" class="marin0Auto w-50" />
              <br />
              <button
                type="button"
                *ngIf="blogNode.buttonTxt"
                (click)="openLink(blogNode.amazonLink10)"
                class="c-btn c-btn--small marin0Auto"
              >
                {{ blogNode.buttonTxt }}
              </button>
            </div>
            <br />
            <p
              *ngIf="blogNode.longDesLast"
              [innerHTML]="blogNode.longDesLast | sanitizeHtml"
            ></p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
