<div class="o-wrapper">
  <div class="o-grid js-grid">
    <!-- <div
      class="js-grid__col o-grid__col--initial-grow o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l js-post-card-wrap c-post-card-wrap o-grid__col--4-4-m o-grid__col--4-4-l o-grid__col--initial-grow"
    >
      <div class="c-post-card c-post-card--first c-post-card--with-image">
        <div class="c-post-card__media">
          <a class="c-post-card__image-wrap" aria-hidden="true" tabindex="-1">
            <img
              alt="Organizing Your Content with Ghost"
              class="c-post-card__image"
              src="../../assets/images/room-7TOLFyu1Dp4-unsplash.jpg"
            />
          </a>
        </div>

        <div class="c-post-card__content">
          <h2 class="c-post-card__title">
            <a class="c-post-card__title-link">
              Organizing Your Content with Ghost
            </a>
          </h2>
          <div class="c-post-card__meta">
            <div class="c-post-card__author">
              <a>Olivia Thomas</a>
            </div>
            <time
              class="c-post-card__date"
              datetime="2018-11-29"
              title="29 November 2018"
              >29.Nov.2018</time
            >
          </div>
        </div>
      </div>
    </div> -->

    <swiper
      [config]="config"
      class="swiper-h"
      [ngClass]="{ mobileView: smallScreen }"
      (swiper)="onSwiper($event)"
      #newSwiper
    >
      <ng-template swiperSlide *ngFor="let slide of slideArray | keyvalue"
        ><img
          [src]="slide.value.img"
          class="sliderImg"
          alt="Random slide picture"
          (click)="openLink(slide.value.link)"
      /></ng-template>
    </swiper>

    <div
      class="js-grid__col o-grid__col--initial-grow o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l js-post-card-wrap c-post-card-wrap"
      *ngFor="let blog of blogArray | keyvalue"
      [routerLink]="['/blog', blog.value.blogURL]"
    >
      <div class="c-post-card c-post-card--with-image">
        <div class="c-post-card__media">
          <a class="c-post-card__image-wrap" aria-hidden="true" tabindex="-1">
            <img
              alt="Blog Image"
              class="c-post-card__image"
              [src]="blog.value.img"
            />
          </a>
          <span title="Featured Post">
            <span
              class="c-post-card--featured__icon"
              data-icon="ei-star"
              data-size="s"
            ></span>
          </span>
        </div>

        <div class="c-post-card__content">
          <h2 class="c-post-card__title">
            <a class="c-post-card__title-link">
              {{ blog.value.title | slice : 0 : 40 }}
            </a>
          </h2>
          <div class="c-post-card__meta">
            <div class="c-post-card__author">
              <a>{{ blog.value.author }}</a>
            </div>
            <time
              class="c-post-card__date"
              datetime="2018-11-29"
              title="29 November 2018"
              >{{ blog.value.CreatedAt | date : "MMM d" }}</time
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="o-grid">
    <div class="o-grid__col o-grid__col--full">
      <div class="c-pagination">
        <div class="o-grid">
          <div
            class="o-grid__col o-grid__col--center o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l"
          >
            <button class="c-btn c-btn--full js-load-posts" routerLink="/blogs">
              More Blogs
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="o-grid">
    <div class="o-grid__col o-grid__col--full"><hr /></div>
  </div>
  <div class="o-grid">
    <div class="o-grid__col o-grid__col--full">
      <div class="c-title-bar">
        <h3 class="c-title-bar__title">
          <a class="c-title-bar__link"
            >Popular Brands
            <span data-icon="ei-chevron-right" data-size="s"></span
          ></a>
        </h3>
      </div>
    </div>
  </div>

  <div class="o-grid">
    <div
      class="o-grid__col o-grid__col--initial-grow o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l c-card-author-wrap"
      *ngFor="let store of storeArray | keyvalue"
      [routerLink]="['/stores', store.value.storeURL]"
    >
      <a class="c-card-author">
        <div class="c-card-author__media">
          <img
            class="c-card-author__image"
            [src]="store.value.img"
            alt="Olivia Thomas"
            width="64"
            height="64"
          />
        </div>

        <div class="c-card-author__content">
          <h3 class="c-card-author__name">{{ store.value.name }}</h3>
          <p hidden [innerHTML]="store.value.shortDes" #storeDes></p>
          <p class="c-card-author__bio">
            {{ getInnerText(storeDes) | slice : 0 : 100 }}
          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="o-grid">
    <div class="o-grid__col o-grid__col--full"><hr /></div>
  </div>
  <div class="o-grid">
    <div
      class="c-teaser-wrapper o-grid__col o-grid__col--4-4-s o-grid__col--4-4-m o-grid__col--1-3-l"
    >
      <div class="o-grid js-grid">
        <div class="o-grid__col o-grid__col--full">
          <div class="c-title-bar">
            <h3 class="c-title-bar__title">
              <a class="c-title-bar__link">Random Blogs</a>
            </h3>
          </div>
        </div>

        <div
          class="js-grid__col o-grid__col--initial-grow o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-2-l cursor-pointer"
          *ngFor="let blog of randomBlogs | keyvalue"
          [routerLink]="['/blog', blog.value.blogURL]"
        >
          <a class="c-teaser">
            <div class="c-teaser__content">
              <h3 class="c-teaser__title">
                {{ blog.value.title | slice : 0 : 40 }}
              </h3>
              <time
                class="c-teaser__date"
                datetime="2018-11-29"
                title="29 November 2018"
                >{{ blog.value.CreatedAt | date : "MMM d" }}</time
              >
            </div>
            <div class="c-teaser__media">
              <img
                class="c-teaser__image randomBlogImg"
                alt="Blog Image"
                [src]="blog.value.img"
              />
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="o-grid">
    <div class="o-grid__col o-grid__col--full"><hr /></div>
  </div>
  <div class="o-grid">
    <div class="o-grid__col o-grid__col--full"><hr /></div>
  </div>

  <div class="o-grid">
    <div class="o-grid__col o-grid__col--full">
      <div class="c-title-bar">
        <h3 class="c-title-bar__title">
          <a class="c-title-bar__link"
            >Random Stores<span data-icon="ei-chevron-right"></span
          ></a>
        </h3>
      </div>
    </div>

    <div
      class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l o-grid__col--initial-grow"
      *ngFor="let store of randomStores | keyvalue"
      [routerLink]="['/stores', store.value.storeURL]"
    >
      <a class="c-tag-card">
        <img
          class="c-tag-card__image"
          [src]="store.value.img"
          alt=""
          width="236"
          height="177"
        />
        <h2 class="c-tag-card__title">
          {{store.value.name}}
        </h2>
      </a>
    </div>
    <!-- <div
      class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l o-grid__col--initial-grow"
    >
      <a class="c-tag-card">
        <img
          class="c-tag-card__image"
          src="../../assets/images/tagsImg2.jpeg"
          alt=""
          width="236"
          height="177"
        />
        <h2 class="c-tag-card__title">
          Lifestyle <span class="u-type-xs">(4)</span>
        </h2>
      </a>
    </div>
    <div
      class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l o-grid__col--initial-grow"
    >
      <a class="c-tag-card">
        <img
          class="c-tag-card__image"
          src="../../assets/images/tagsImg3.jpeg"
          alt=""
          width="236"
          height="177"
        />
        <h2 class="c-tag-card__title">
          Education <span class="u-type-xs">(4)</span>
        </h2>
      </a>
    </div>
    <div
      class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l o-grid__col--initial-grow"
    >
      <a class="c-tag-card">
        <img
          class="c-tag-card__image"
          src="../../assets/images/tagsImg4.jpeg"
          alt=""
          width="236"
          height="177"
        />
        <h2 class="c-tag-card__title">
          Work <span class="u-type-xs">(4)</span>
        </h2>
      </a>
    </div> -->
  </div>
</div>
