@import "swiper/css/bundle";

.swiper-slide img {
  width: 100% !important;
}
// swiper.mySwiper {
//   width: 80% !important;
// }
swiper.swiper-h {
  margin-bottom: 50px;
//   z-index: -1;
}
swiper.mobileView{
    z-index: -1;
}
img.sliderImg {
  cursor: pointer;
}
div.paddingX-0{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
img.randomBlogImg{
  width: 110px !important;
  height: 60px !important;
}