<div class="o-wrapper">
  <div class="o-grid js-grid">
    <div
      class="js-grid__col o-grid__col--initial-grow o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l js-post-card-wrap c-post-card-wrap o-grid__col--4-4-m o-grid__col--4-4-l o-grid__col--initial-grow"
    >
      <div class="c-post-card c-post-card--first c-post-card--with-image">
        <div class="c-post-card__media">
          <a
            href="/organising-your-content/"
            class="c-post-card__image-wrap"
            aria-hidden="true"
            tabindex="-1"
          >
            <img
              alt="Organizing Your Content with Ghost"
              class="c-post-card__image"
              src="../../assets/images/room-7TOLFyu1Dp4-unsplash.jpg"
            />
          </a>
        </div>

        <div class="c-post-card__content">
          <h2 class="c-post-card__title">
            <a href="/organising-your-content/" class="c-post-card__title-link">
              Organizing Your Content with Ghost
            </a>
          </h2>
          <div class="c-post-card__meta">
            <div class="c-post-card__author">
              <a href="/author/adham/">Olivia Thomas</a>
            </div>
            <time
              class="c-post-card__date"
              datetime="2018-11-29"
              title="29 November 2018"
              >29.Nov.2018</time
            >
          </div>
        </div>
      </div>
    </div>
    <div
      class="js-grid__col o-grid__col--initial-grow o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l js-post-card-wrap c-post-card-wrap"
    >
      <div
        class="c-post-card c-post-card--with-image"
        [routerLink]="['/blog', 'blogname']"
      >
        <div class="c-post-card__media">
          <a
            href="/a-documentary-about-the-important-things/"
            class="c-post-card__image-wrap"
            aria-hidden="true"
            tabindex="-1"
          >
            <img
              alt="A Documentary About the Important Things"
              class="c-post-card__image"
              src="../../assets/images/woodwatch--Hr_uHRfImo-unsplash-1.jpg"
            />
          </a>
          <span title="Featured Post">
            <span
              class="c-post-card--featured__icon"
              data-icon="ei-star"
              data-size="s"
            ></span>
          </span>
        </div>

        <div class="c-post-card__content">
          <h2 class="c-post-card__title">
            <a
              href="/a-documentary-about-the-important-things/"
              class="c-post-card__title-link"
            >
              A Documentary About the Important Things
            </a>
          </h2>
          <div class="c-post-card__meta">
            <div class="c-post-card__author">
              <a href="/author/top/">William James</a>
            </div>
            <time
              class="c-post-card__date"
              datetime="2018-11-29"
              title="29 November 2018"
              >29.Nov.2018</time
            >
          </div>
        </div>
      </div>
    </div>
    <div
      class="js-grid__col o-grid__col--initial-grow o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l js-post-card-wrap c-post-card-wrap"
    >
      <div
        class="c-post-card c-post-card--with-image"
        [routerLink]="['/blog', 'blogname']"
      >
        <div class="c-post-card__media">
          <a
            href="/a-rich-life-with-less-stuff-the-minimalists/"
            class="c-post-card__image-wrap"
            aria-hidden="true"
            tabindex="-1"
          >
            <img
              alt="A Rich Life with Less Stuff | the Minimalists"
              class="c-post-card__image"
              src="../../assets/images/guillaume-bleyer-Dep2HTKqGj0-unsplash-1.jpg"
            />
          </a>
        </div>

        <div class="c-post-card__content">
          <h2 class="c-post-card__title">
            <a
              href="/a-rich-life-with-less-stuff-the-minimalists/"
              class="c-post-card__title-link"
            >
              A Rich Life with Less Stuff | the Minimalists
            </a>
          </h2>
          <div class="c-post-card__meta">
            <div class="c-post-card__author">
              <a href="/author/eiad/">Amelia Harry</a>
            </div>
            <time
              class="c-post-card__date"
              datetime="2018-11-29"
              title="29 November 2018"
              >29.Nov.2018</time
            >
          </div>
        </div>
      </div>
    </div>
    <div
      class="js-grid__col o-grid__col--initial-grow o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l js-post-card-wrap c-post-card-wrap"
    >
      <div
        class="c-post-card c-post-card--with-image"
        [routerLink]="['/blog', 'blogname']"
      >
        <div class="c-post-card__media">
          <a
            href="/ghost-publishing-options-techniques/"
            class="c-post-card__image-wrap"
            aria-hidden="true"
            tabindex="-1"
          >
            <img
              alt="Ghost Publishing Options Techniques"
              class="c-post-card__image"
              src="../../assets/images/woodwatch-taIc-HAgGgc-unsplash.jpg"
            />
          </a>
        </div>

        <div class="c-post-card__content">
          <h2 class="c-post-card__title">
            <a
              href="/ghost-publishing-options-techniques/"
              class="c-post-card__title-link"
            >
              Ghost Publishing Options Techniques
            </a>
          </h2>
          <div class="c-post-card__meta">
            <div class="c-post-card__author">
              <a href="/author/sara/">Sara James</a>
            </div>
            <time
              class="c-post-card__date"
              datetime="2018-11-29"
              title="29 November 2018"
              >29.Nov.2018</time
            >
          </div>
        </div>
      </div>
    </div>
    <div
      class="js-grid__col o-grid__col--initial-grow o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l js-post-card-wrap c-post-card-wrap"
    >
      <div
        class="c-post-card c-post-card--with-image"
        [routerLink]="['/blog', 'blogname']"
      >
        <div class="c-post-card__media">
          <a
            href="/managing-ghost-admin-settings/"
            class="c-post-card__image-wrap"
            aria-hidden="true"
            tabindex="-1"
          >
            <img
              alt="Managing Ghost Admin Settings"
              class="c-post-card__image"
              src="../../assets/images/ruta-celma-AQvfA3bRLVs-unsplash-1.jpg"
            />
          </a>
        </div>

        <div class="c-post-card__content">
          <h2 class="c-post-card__title">
            <a
              href="/managing-ghost-admin-settings/"
              class="c-post-card__title-link"
            >
              Managing Ghost Admin Settings
            </a>
          </h2>
          <div class="c-post-card__meta">
            <div class="c-post-card__author">
              <a href="/author/sara/">Sara James</a>
            </div>
            <time
              class="c-post-card__date"
              datetime="2018-11-29"
              title="29 November 2018"
              >29.Nov.2018</time
            >
          </div>
        </div>
      </div>
    </div>
    <div
      class="js-grid__col o-grid__col--initial-grow o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l js-post-card-wrap c-post-card-wrap"
    >
      <div
        class="c-post-card c-post-card--with-image"
        [routerLink]="['/blog', 'blogname']"
      >
        <div class="c-post-card__media">
          <a
            href="/days-of-wine-and-roses-with-james-comey/"
            class="c-post-card__image-wrap"
            aria-hidden="true"
            tabindex="-1"
          >
            <img
              alt="Days of Wine and Roses with James Comey"
              class="c-post-card__image"
              src="../../assets/images/brooke-cagle-EnE-o3P-WOY-unsplash.jpg"
            />
          </a>
        </div>

        <div class="c-post-card__content">
          <h2 class="c-post-card__title">
            <a
              href="/days-of-wine-and-roses-with-james-comey/"
              class="c-post-card__title-link"
            >
              Days of Wine and Roses with James Comey
            </a>
          </h2>
          <div class="c-post-card__meta">
            <div class="c-post-card__author">
              <a href="/author/adham/">Olivia Thomas</a>
            </div>
            <time
              class="c-post-card__date"
              datetime="2018-11-29"
              title="29 November 2018"
              >29.Nov.2018</time
            >
          </div>
        </div>
      </div>
    </div>
    <div
      class="js-grid__col o-grid__col--initial-grow o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l js-post-card-wrap c-post-card-wrap"
    >
      <div
        class="c-post-card c-post-card--with-image"
        [routerLink]="['/blog', 'blogname']"
      >
        <div class="c-post-card__media">
          <a
            href="/it-would-be-totally-painless-unconsciousness/"
            class="c-post-card__image-wrap"
            aria-hidden="true"
            tabindex="-1"
          >
            <img
              alt="It would be totally painless unconscious"
              class="c-post-card__image"
              src="../../assets/images/photo-1567103477235-e34a3d5da8a2-1.jpeg"
            />
          </a>
        </div>

        <div class="c-post-card__content">
          <h2 class="c-post-card__title">
            <a
              href="/it-would-be-totally-painless-unconsciousness/"
              class="c-post-card__title-link"
            >
              It would be totally painless unconscious
            </a>
          </h2>
          <div class="c-post-card__meta">
            <div class="c-post-card__author">
              <a href="/author/eiad/">Amelia Harry</a>
            </div>
            <time
              class="c-post-card__date"
              datetime="2018-11-29"
              title="29 November 2018"
              >29.Nov.2018</time
            >
          </div>
        </div>
      </div>
    </div>
    <div
      class="js-grid__col o-grid__col--initial-grow o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l js-post-card-wrap c-post-card-wrap"
    >
      <div
        class="c-post-card c-post-card--with-image"
        [routerLink]="['/blog', 'blogname']"
      >
        <div class="c-post-card__media">
          <a
            href="/themes-2hubble-daily-contacts-better-price/"
            class="c-post-card__image-wrap"
            aria-hidden="true"
            tabindex="-1"
          >
            <img
              alt="Hubble Daily Contacts. Better Price"
              class="c-post-card__image"
              src="../../assets/images/photo-1562101997-7bc9a0279b02-1.jpeg"
            />
          </a>
        </div>

        <div class="c-post-card__content">
          <h2 class="c-post-card__title">
            <a
              href="/themes-2hubble-daily-contacts-better-price/"
              class="c-post-card__title-link"
            >
              Hubble Daily Contacts. Better Price
            </a>
          </h2>
          <div class="c-post-card__meta">
            <div class="c-post-card__author">
              <a href="/author/eiad/">Amelia Harry</a>
            </div>
            <time
              class="c-post-card__date"
              datetime="2018-11-29"
              title="29 November 2018"
              >29.Nov.2018</time
            >
          </div>
        </div>
      </div>
    </div>
    <div
      class="js-grid__col o-grid__col--initial-grow o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l js-post-card-wrap c-post-card-wrap"
    >
      <div
        class="c-post-card c-post-card--with-image"
        [routerLink]="['/blog', 'blogname']"
      >
        <div class="c-post-card__media">
          <a
            href="/an-opportunity-to-use-your-voice-you-should-use-it/"
            class="c-post-card__image-wrap"
            aria-hidden="true"
            tabindex="-1"
          >
            <img
              alt="Opportunity to use your voice you should use"
              class="c-post-card__image"
              src="../../assets/images/photo-1567441076134-8f80ef850fc5-1.jpeg"
            />
          </a>
        </div>

        <div class="c-post-card__content">
          <h2 class="c-post-card__title">
            <a
              href="/an-opportunity-to-use-your-voice-you-should-use-it/"
              class="c-post-card__title-link"
            >
              Opportunity to use your voice you should use
            </a>
          </h2>
          <div class="c-post-card__meta">
            <div class="c-post-card__author">
              <a href="/author/adham/">Olivia Thomas</a>
            </div>
            <time
              class="c-post-card__date"
              datetime="2017-03-27"
              title="27 March 2017"
              >27.Mar.2017</time
            >
          </div>
        </div>
      </div>
    </div>
    <div
      class="js-grid__col o-grid__col--initial-grow o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l js-post-card-wrap c-post-card-wrap"
    >
      <div
        class="c-post-card c-post-card--with-image"
        [routerLink]="['/blog', 'blogname']"
      >
        <div class="c-post-card__media">
          <a
            href="/the-new-rules-of-personal-finance/"
            class="c-post-card__image-wrap"
            aria-hidden="true"
            tabindex="-1"
          >
            <img
              alt="The New Rules of Personal Finance"
              class="c-post-card__image"
              src="../../assets/images/photo-1567225557594-88d73e55f2cb-1.jpeg"
            />
          </a>
        </div>

        <div class="c-post-card__content">
          <h2 class="c-post-card__title">
            <a
              href="/the-new-rules-of-personal-finance/"
              class="c-post-card__title-link"
            >
              The New Rules of Personal Finance
            </a>
          </h2>
          <div class="c-post-card__meta">
            <div class="c-post-card__author">
              <a href="/author/sara/">Sara James</a>
            </div>
            <time
              class="c-post-card__date"
              datetime="2017-03-27"
              title="27 March 2017"
              >27.Mar.2017</time
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="o-grid">
    <div class="o-grid__col o-grid__col--full">
      <div class="c-pagination">
        <div class="o-grid">
          <div
            class="o-grid__col o-grid__col--center o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l"
          >
            <button class="c-btn c-btn--full js-load-posts">More Posts</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="o-grid">
    <div
      class="c-teaser-wrapper o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l"
    >
      <div class="o-grid">
        <div class="o-grid__col o-grid__col--full">
          <div class="c-title-bar">
            <h3 class="c-title-bar__title">
              <a href="/tag/work/" class="c-title-bar__link">Work</a>
            </h3>
          </div>
        </div>

        <div class="o-grid__col">
          <a
            href="/it-would-be-totally-painless-unconsciousness/"
            class="c-teaser"
          >
            <div class="c-teaser__content">
              <h3 class="c-teaser__title">
                It would be totally painless unconscious
              </h3>
              <time
                class="c-teaser__date"
                datetime="2018-11-29"
                title="29 November 2018"
                >29.Nov.2018</time
              >
            </div>
            <div class="c-teaser__media">
              <img
                class="c-teaser__image"
                title="It would be totally painless unconscious"
                src="../../assets/images/photo-1567103477235-e34a3d5da8a2-1.jpeg"
                width="88"
                height="72"
              />
            </div>
          </a>
          <a
            href="/everybody-listen-we-have-to-put-a-barrier-between-us-and-the-snakes/"
            class="c-teaser"
          >
            <div class="c-teaser__content">
              <h3 class="c-teaser__title">
                We have to put a barrier between us and the world!
              </h3>
              <time
                class="c-teaser__date"
                datetime="2015-12-22"
                title="22 December 2015"
                >22.Dec.2015</time
              >
            </div>
            <div class="c-teaser__media">
              <img
                class="c-teaser__image"
                title="We have to put a barrier between us and the world!"
                src="../../assets/images/photo-1524136964799-6ba980a735f7-3.jpg"
                width="88"
                height="72"
              />
            </div>
          </a>
          <a
            href="/if-you-have-an-opportunity-to-use-your-voice-you-should-use-it-all-the-time/"
            class="c-teaser"
          >
            <div class="c-teaser__content">
              <h3 class="c-teaser__title">
                If you have an opportunity to use your voice!
              </h3>
              <time
                class="c-teaser__date"
                datetime="2015-12-22"
                title="22 December 2015"
                >22.Dec.2015</time
              >
            </div>
            <div class="c-teaser__media">
              <img
                class="c-teaser__image"
                title="If you have an opportunity to use your voice!"
                src="https://images.unsplash.com/photo-1526914383140-112d83e90d80?ixlib&#x3D;rb-1.2.1&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ&amp;w&#x3D;176"
                width="88"
                height="72"
              />
            </div>
          </a>
          <a
            href="/you-got-to-cool-that-shit-off-and-thats-the-double-truth-ruth/"
            class="c-teaser"
          >
            <div class="c-teaser__content">
              <h3 class="c-teaser__title">
                And that&#x27;s the double-truth, Ruth
              </h3>
              <time
                class="c-teaser__date"
                datetime="2015-12-22"
                title="22 December 2015"
                >22.Dec.2015</time
              >
            </div>
            <div class="c-teaser__media">
              <img
                class="c-teaser__image"
                title="And that&#x27;s the double-truth, Ruth"
                src="../../assets/images/photo-1567016557389-5246a1940bdc.jpeg"
                width="88"
                height="72"
              />
            </div>
          </a>
        </div>
      </div>
    </div>

    <div
      class="c-teaser-wrapper o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l"
    >
      <div class="o-grid">
        <div class="o-grid__col o-grid__col--full">
          <div class="c-title-bar">
            <h3 class="c-title-bar__title">
              <a href="/tag/education/" class="c-title-bar__link">Education</a>
            </h3>
          </div>
        </div>

        <div class="o-grid__col">
          <a href="/a-documentary-about-the-important-things/" class="c-teaser">
            <div class="c-teaser__content">
              <h3 class="c-teaser__title">
                A Documentary About the Important Things
              </h3>
              <time
                class="c-teaser__date"
                datetime="2018-11-29"
                title="29 November 2018"
                >29.Nov.2018</time
              >
            </div>
            <div class="c-teaser__media">
              <img
                class="c-teaser__image"
                title="A Documentary About the Important Things"
                src="../../assets/images/woodwatch--Hr_uHRfImo-unsplash-1.jpg"
                width="88"
                height="72"
              />
            </div>
          </a>
          <a
            href="/everybody-listen-we-have-to-put-a-barrier-between-us-and-the-world/"
            class="c-teaser"
          >
            <div class="c-teaser__content">
              <h3 class="c-teaser__title">
                We have to put a barrier between us and the world!
              </h3>
              <time
                class="c-teaser__date"
                datetime="2017-03-27"
                title="27 March 2017"
                >27.Mar.2017</time
              >
            </div>
            <div class="c-teaser__media">
              <img
                class="c-teaser__image"
                title="We have to put a barrier between us and the world!"
                src="../../assets/images/photo-1518214598173-1666bc921d66.jpg"
                width="88"
                height="72"
              />
            </div>
          </a>
          <a
            href="/it-would-be-totally-painless-theyd-just-slip-into-unconsciousness/"
            class="c-teaser"
          >
            <div class="c-teaser__content">
              <h3 class="c-teaser__title">
                It Would Be Totally Painless - They&#x27;d Just Slip
              </h3>
              <time
                class="c-teaser__date"
                datetime="2017-03-27"
                title="27 March 2017"
                >27.Mar.2017</time
              >
            </div>
            <div class="c-teaser__media">
              <img
                class="c-teaser__image"
                title="It Would Be Totally Painless - They&#x27;d Just Slip"
                src="../../assets/images/8.jpg"
                width="88"
                height="72"
              />
            </div>
          </a>
          <a
            href="/eddie-kim-somehow-managed-to-fill-the-plane-with-poisonous-snakes/"
            class="c-teaser"
          >
            <div class="c-teaser__content">
              <h3 class="c-teaser__title">
                Eddie Kim somehow managed to fill the snakes.
              </h3>
              <time
                class="c-teaser__date"
                datetime="2015-12-21"
                title="21 December 2015"
                >21.Dec.2015</time
              >
            </div>
            <div class="c-teaser__media">
              <img
                class="c-teaser__image"
                title="Eddie Kim somehow managed to fill the snakes."
                src="../../assets/images/6.jpg"
                width="88"
                height="72"
              />
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="o-grid">
    <div class="o-grid__col o-grid__col--full"><hr /></div>
  </div>

  <div class="o-grid">
    <div class="o-grid__col o-grid__col--full">
      <div class="c-title-bar">
        <h3 class="c-title-bar__title">
          <a
            href="https://melaka.aspirethemes.com/tags"
            class="c-title-bar__link u-font-size-small"
            >Tags<span data-icon="ei-chevron-right" data-size="s"></span
          ></a>
        </h3>
      </div>
    </div>

    <div
      class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l o-grid__col--initial-grow"
    >
      <a href="/tag/travel/" class="c-tag-card">
        <img
          class="c-tag-card__image"
          src="../../assets/images/tagsImg1.jpeg"
          alt=""
          width="236"
          height="177"
        />
        <h2 class="c-tag-card__title">
          Travel <span class="u-type-xs">(4)</span>
        </h2>
      </a>
    </div>
    <div
      class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l o-grid__col--initial-grow"
    >
      <a href="/tag/lifestyle/" class="c-tag-card">
        <img
          class="c-tag-card__image"
          src="../../assets/images/tagsImg2.jpeg"
          alt=""
          width="236"
          height="177"
        />
        <h2 class="c-tag-card__title">
          Lifestyle <span class="u-type-xs">(4)</span>
        </h2>
      </a>
    </div>
    <div
      class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l o-grid__col--initial-grow"
    >
      <a href="/tag/education/" class="c-tag-card">
        <img
          class="c-tag-card__image"
          src="../../assets/images/tagsImg3.jpeg"
          alt=""
          width="236"
          height="177"
        />
        <h2 class="c-tag-card__title">
          Education <span class="u-type-xs">(4)</span>
        </h2>
      </a>
    </div>
    <div
      class="o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l o-grid__col--initial-grow"
    >
      <a href="/tag/work/" class="c-tag-card">
        <img
          class="c-tag-card__image"
          src="../../assets/images/tagsImg4.jpeg"
          alt=""
          width="236"
          height="177"
        />
        <h2 class="c-tag-card__title">
          Work <span class="u-type-xs">(4)</span>
        </h2>
      </a>
    </div>
  </div>

  <div class="o-grid">
    <div class="o-grid__col o-grid__col--full"><hr /></div>
  </div>
  <div class="o-grid">
    <div class="o-grid__col o-grid__col--full">
      <div class="c-title-bar">
        <h3 class="c-title-bar__title">
          <a
            href="https://melaka.aspirethemes.com/authors"
            class="c-title-bar__link"
            >Authors <span data-icon="ei-chevron-right" data-size="s"></span
          ></a>
        </h3>
      </div>
    </div>
  </div>

  <div class="o-grid">
    <div
      class="o-grid__col o-grid__col--initial-grow o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l c-card-author-wrap"
    >
      <a class="c-card-author" href="/author/adham/">
        <div class="c-card-author__media">
          <img
            class="c-card-author__image"
            src="../../assets/images/guillaume-bleyer-Dep2HTKqGj0-unsplash-2.jpg"
            alt="Olivia Thomas"
            width="64"
            height="64"
          />
        </div>

        <div class="c-card-author__content">
          <h3 class="c-card-author__name">Olivia Thomas</h3>
          <p class="c-card-author__bio">
            I love creating clean and minimal websites.
          </p>
        </div>
      </a>
    </div>
    <div
      class="o-grid__col o-grid__col--initial-grow o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l c-card-author-wrap"
    >
      <a class="c-card-author" href="/author/sara/">
        <div class="c-card-author__media">
          <img
            class="c-card-author__image"
            src="../../assets/images/guillaume-bleyer-Dep2HTKqGj0-unsplash-1.jpg"
            alt="Sara James"
            width="64"
            height="64"
          />
        </div>

        <div class="c-card-author__content">
          <h3 class="c-card-author__name">Sara James</h3>
          <p class="c-card-author__bio">
            Author &amp; developer of Aspire Themes. Minimalist.
          </p>
        </div>
      </a>
    </div>
    <div
      class="o-grid__col o-grid__col--initial-grow o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l c-card-author-wrap"
    >
      <a class="c-card-author" href="/author/eiad/">
        <div class="c-card-author__media">
          <img
            class="c-card-author__image"
            src="../../assets/images/guillaume-bleyer-Dep2HTKqGj0-unsplash-3.jpg"
            alt="Amelia Harry"
            width="64"
            height="64"
          />
        </div>

        <div class="c-card-author__content">
          <h3 class="c-card-author__name">Amelia Harry</h3>
          <p class="c-card-author__bio">
            Author &amp; developer of Aspire Themes. Minimalist.
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
